@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lalezar&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
    width: 100%;
    background-color: #02FF02;
    overflow-x: hidden;
    font-family: "Lalezar", system-ui;
}
#container {
    position: relative;
    width: 1800px;
    margin: 0 auto !important;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.fade-wrap {
    /* 나타나는 효과가 1초동안 발생 */
    transition: 1s;

    /* 투명도 0 (안보임) */
    opacity: 0;

    /* 왼쪽에서 오른쪽으로 나타나게 하기 위함 */
    position: relative;
    left: -50px;

    margin-bottom: 20px;
}
.fade-wrap.fade-in {
    /* 투명도 0 (보임) */
    opacity: 1;

    /* 왼쪽에서 오른쪽으로 나타나게 하기 위함 */
    left: 0;
}
.fade-wrap2 {
    /* 나타나는 효과가 1초동안 발생 */
    transition: 1s;

    /* 투명도 0 (안보임) */
    opacity: 0;

    /* 왼쪽에서 오른쪽으로 나타나게 하기 위함 */
    position: relative;
    top: -50px;

    margin-bottom: 20px;
}
.fade-wrap2.fade-in {
    /* 투명도 0 (보임) */
    opacity: 1;

    /* 왼쪽에서 오른쪽으로 나타나게 하기 위함 */
    top: 0;
}


header{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 65%;
}
.gnb{
    width: 40%;
}
.gnb nav ul{
    display: flex;
    justify-content: space-between;
}
.gnb nav ul li a{
    text-decoration-line: none;
    font-size: 1rem;
    color: #000;
    font-weight: bold;
    font-family: "Noto Sans", sans-serif;
}

nav ul li .line::after {
    margin-top: 2px;
    transition: 0.4s;
    content: '';
    display: block;
    width: 15px;
    height: 2px;
    background: #02FF02;
}
nav ul li:hover .line::after {
    width: 100%;
    background: #000
}

.logo{
    margin-bottom: 20%;
}

.title{
    margin-top: 5%;
    text-align: center;
    margin-bottom: 5%;
}

.tap {
    width: 700px;
    border: 3px solid #000;
    margin: 20px auto; /* 상하 20px, 좌우 자동 정렬 */
}

.tap h2 {
    font-size: 18px;
    cursor: pointer; /* 포인터 커서 추가 */
    padding: 10px; /* 내부 여백 추가 */
    margin: 0;
    text-align: center;
}

.tap:hover {
    background-color: #000000;
    color: #02FF02;
}

.click {
    height: 0; /* 초기에는 숨겨진 상태 */
    background-color: #000000;
    margin-top: 20px; /* 기본적으로 위에 여백 추가 */
    overflow: hidden;
    transition: height 0.3s ease; /* height로 스무스하게 늘어남 */
    width: 100%; /* .tap과 너비를 맞추기 위해 변경 */
    color: #02FF02;
}

.tap.active .click {
    height: 300px; /* 클릭 시 늘어나는 높이 */
}

.click h2 {
    margin-top: 50px;
    margin-bottom: 10px;
}
.click img {
    width: 100px; /* 이미지 크기에 맞게 조정하세요 */
    height: auto;
    display: block;
    margin: 0 auto;
}

.click p {
    text-align: center;
    margin-top: 10px;
}


footer{
    margin-top: 5%;
    width: 100%;
    height: 250px;
    background-color: #000;
    display: flex; /* 부모 요소를 flex 컨테이너로 설정 */
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
    text-decoration: none; /* 링크 스타일 초기화 */
    text-align: center; 
}
